---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list list-unstyled">
    {% for post in site.posts %}
      <li>

        <span class="post-meta pull-left" style="line-height: 32px; padding-right:10px;">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <ul style="list-style:none;font-size:10pt;">
          <li class="excerpt">
            {% if post.excerpt %}
              {{ post.excerpt }} 
              <a href="{{ post.url | prepend: site.baseurl }}" style="float:right;">
                ...read more</a>
            {% endif %}
            <span style="color:#666;"><i class="glyphicon glyphicon-tag"></i> &nbsp; </span>
            {% for tag in post.tags %}
              <a class="tag_list_link label label-default" href="{{site.baseurl}}/tag/{{ tag }}">{{ tag }}</a> &nbsp; 
            {% endfor %}
          </li>
        </ul>
        <br />

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
