<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!--<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">-->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
 <!--<link rel="stylesheet" type="text/css" href="{{site.url}}rpg/css/header.css" />-->
  <script src="https://use.fontawesome.com/5c75cade5f.js"></script>
  <link href="{{site.baseurl}}/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/custom.css" rel="stylesheet">
  <script>

    (function() {
      var cx = '007454831596437075580:jo-c4rwlx1i';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

    /*
    $(function() {
      $('#header').load('{{site.url}}rpg/header.html');
    });*/

    //Open external links in new tab/window
    $(document).ready(function(){
      $("a").filter(function () {
        return this.hostname && this.hostname !== location.hostname;
      }).each(function () {
        $(this).attr({
          target: "_blank",
          title: "Visit " + this.href + " (click to open in a new window)"
        });
      });
    }); 
  </script>
</head>
