  <div class="sidebar">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <img src="{{site.baseurl}}/images/nathan-hare.png" class="img-responsive img-circle" />

    <i class="fa fa-github"></i>
    <i class="fa fa-twitter"></i>

    <!--
    <ul class="social-media-list list-unstyled">
      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.twitter_username %}
      <li>
        {% include icon-twitter.html username=site.twitter_username %}
      </li>
      {% endif %}
    </ul>
    -->

    <p class="blog-description">{{ site.description }}</p>

    <h4>All Tags</h4>
    <p class="blog-description">
      <a href="{{site.baseurl}}/tag/conference">conference</a>
      <a href="{{site.baseurl}}/tag/dungeons">dungeons</a>
      <a href="{{site.baseurl}}/tag/fate">fate</a>
      <a href="{{site.baseurl}}/tag/fate-charsheet">fate-charsheet</a>
      <a href="{{site.baseurl}}/tag/gamers of summer">gamers of summer</a>
      <a href="{{site.baseurl}}/tag/masters of umdaar">masters of umdaar</a>
      <a href="{{site.baseurl}}/tag/no gm">no gm</a>
      <a href="{{site.baseurl}}/tag/oneshot">oneshot</a>
      <a href="{{site.baseurl}}/tag/play report">play report</a>
      <a href="{{site.baseurl}}/tag/review">review</a>
      <a href="{{site.baseurl}}/tag/rpg">rpg</a>
      <a href="{{site.baseurl}}/tag/storygen">storygen</a>
      <a href="{{site.baseurl}}/tag/tabletop simulator">tabletop simulator</a>
      <a href="{{site.baseurl}}/tag/the relics of acyrus">the relics of acyrus</a>
      <a href="{{site.baseurl}}/tag/thoughts">thoughts</a>
      <a href="{{site.baseurl}}/tag/update">update</a>
      <a href="{{site.baseurl}}/tag/we be goblins">we be goblins</a>
      <a href="{{site.baseurl}}/tag/web">web</a>
    <!---
      {% for post in site.posts %}
      {% for tag in post.tags %}
      <a href="">{{ tag }}</a>
      {% endfor %}
      {% endfor %}
    --->
    </p>

    <hr />
    <br />

  </div>
