<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% if page.layout == 'post' %}
      {% include post_banner.html %}
    {% elsif page.path contains 'tag/' %}

    {% else %}
      {% include banner.html %}
    {% endif %}

    <div class="container">
      <section class="col-md-9">
          {{ content }}
      </section>
      <aside class="col-md-3">
          {% include sidebar.html %}
      </aside>
    </div>

    {% include footer.html %}

  </body>

</html>
